@charset "utf-8";
/* CSS Document */


p{font-size:12px;line-height:150%; letter-spacing:0.2em;}
.top{
	width:900px;height:30px; margin: 0 auto;
	}
.top-left{width: 100px;height: 30px;
	background-image:url(images/zxlogo.png);
	float:left;
	}
.top-right{
	margin-left:400px;
	height:30px;float:right;
	text-align:center;
	line-height:30px;
	
	}
.img{
	background-image:url(images/AXONM1920X6400205.jpg);
   margin: 0 auto;
    width:900px;
	height:300px;
	margin-top:3px;}
li{
	list-style:none;
}
.li-8{
	width:150px!important;color:#CCC;
	}
.menu{
	width: 900px;
	height: 40px;
	margin: 0 auto;
	background-color: #36F;
	font-family: font-family: "微软雅黑";
	}
.menu ul li{float:left;width:90px;height:40px;
	font-size: 14px;
	text-align:center;
	line-height:40px;
	color: #FFF; }
.menu ul li:hover{background:#69F;}
.bottom{width:900px;height:310px;
 margin-top:3px;margin:0 auto; padding:10px; }
.bottom-left{width:280px;height:307px;float:left; border:1px solid #CCC;}
.bottom-right{width:610px;height:307px; float:right;border:1px solid #CCC;}
.cl{color:#999;}
.biaoti{text-align:center;color:#333;font-weight:100;}
.gengduo{text-align:right;}
.tup{margin: 0 auto; width:190px;height:127px; float:left;}
.zzy{margin: 0 auto; width:190px;height:400px; float:left; padding:6px;}
.dibu{margin: 0 auto; width:900px;height:40px;}
.dibu-l{
	width:540px;height:30px;
	 font-family: "微软雅黑";float:left;}
.dibu-r{ width:360px;height:30px; margin-top:5px;font-family: font-family: "微软雅黑";float:right;}


.dibu-l a{float:left; font-size: 14px;font-family: font-family: "微软雅黑";
	margin-top:12px; border-left:1px solid #000;
	}
.dibu-l a:first-child{border-left:0px;float:left;}
a{text-decoration:none; padding-left:10px;padding-right:10px;}


.menu ul li .u {
	background-color:#36F;
	height: 30px;
    display: none;
}
.menu ul li .u .y {
	float: left;
	padding-left: 120px;
	width: 250px;
}
.menu ul li .u .y li a:hover {
	border-bottom-style: none;
	color: #F00;
}
.menu ul li:hover .u{
	display: block;
}



  